datasets~=2.10.1
transformers~=4.27.2
yake~=0.4.8
numpy~=1.24.2
torch~=1.13.1
nltk~=3.8.1
filelock~=3.9.0
deepspeed
git+https://github.com/Maluuba/nlg-eval.git@master
rouge~=1.0.1
bert_score
accelerate~=0.17.1
evaluate~=0.4.0